body {
    font-family: Arial, Verdana, Geneva, Calibri;
    background-color: pink; 
    padding: 20px;
}

.Ayudantias, .Habilidades {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
}

.Ayudantias th, .Ayudantias td, .Habilidades th, .Habilidades td {
    border: 5px solid red; 
    padding: 10px; 
    text-align: left;
}

.Ayudantias th, .Habilidades th {
    background-color: white; 
    color: black;
}

button {
    background-color: indianred;
    color: white; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}